<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ToiteplokkKalkulaatorDBContext" connectionString="metadata=res://*/Models.ToiteplokkKalkulaatorDBModel.csdl|res://*/Models.ToiteplokkKalkulaatorDBModel.ssdl|res://*/Models.ToiteplokkKalkulaatorDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\App_Data\ToiteplokkKalkulaatorDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>